html,body{
	height: 100%;
}
html{
	font-size: 13.333333vw;
	overflow-x: hidden;
}
body{
	display: flex;
	flex-direction: column;
	
}
*{
	padding: 0;
	margin: 0;
}
/*******/
header{
	width: 100%;
	height: 1rem;
	background-color: #333333;	
}
header nav{
	overflow: auto;
}
header nav ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 120%;
	overflow-x: auto;
	height: 1rem;
	background-color: #333333;
	
}
header nav ul li a{
	display: inline-block;
	color: #fff;
	font-size: 0.32rem;
	line-height: 0.8rem;
	font-family:PingFang SC;
}
header nav ul li:nth-of-type(1){border-bottom: 2px solid #fff;}
header nav ul li:hover{border-bottom: 2px solid #fff;}
/***************************************************************/
.body-main{
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
}
.body-main .main-top-sel{
    font-size: 0.28rem;
}
.body-main .main-top-sel ul{
    text-align: center;
    width: 100%;
    border-bottom: #EEC14F 1px solid;
    height: 0.8rem;
}
.body-main .main-top-sel ul li{
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;

}
.body-main .main-top-sel ul li:nth-of-type(1),.body-main .main-top-sel ul li:nth-of-type(2){
    border-right: 2px solid #EEC14F;
}
.body-main .main-top-sel ul li:nth-of-type(1){
    color: #EEC14F;
}
section .content_list{
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0.2rem;
}
section .content_list img{
    width: 2.32rem;
    height: 1.38rem;
    border-radius: 0.2rem;
    
}
section .content_list .news_list{
    display: flex;
    margin-bottom: 0.3rem;
}
.news_list .nl_right{
    margin-left: 0.2rem;
    flex: 2;
    height: 1.38rem;
}
.news_list .nl_right p {
    font-size: 0.24rem;
    margin-bottom: 0.2rem;
}
.news_list .nl_right span{
    font-size: 0.16rem;
    border: 1px solid;
    margin-right: 0.05rem;
}
.news_list .nl_right>div{
    margin-top: 0.2rem;
    display: flex;
    justify-content: space-between;
}
.news_list .nl_right>div span{
    border: none;
}
/***************************************************/
footer{
	/* position: fixed;
	bottom: 0;
	left: 0; */
	width: 100%;
	height: 0.98rem;
	background-color: #333333;
	box-sizing: border-box;
	padding: 0.15rem;
}
footer ul li:nth-of-type(1) a{
	color: #EEC14F;
}
footer ul li a:hover{
	color: #EEC14F;
}
footer ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
footer ul li a{
	color: #fff;
	/* line-height: 0.6rem; */
	display: block;
}

footer ul li span{
	width: 0.44rem;
	height: 0.44rem;
	
}

footer ul li p{
	font-size: 0.28rem;
}